* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
}
body {
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}
@media (max-width: 768px) {
  body {
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: auto;
  }
}